.under-footer
    .social-links
        a(href="#").social-links__icon-circle
            include ../img/twitter.svg
        a(href="#").social-links__icon-circle
            include ../img/facebook-letter-logo.svg
        a(href="#").social-links__icon-circle
            include ../img/google-plus-logo.svg
        a(href="#").social-links__icon-circle
            include ../img/linkedin-logo.svg
    p(class="under-footer__copyrights") Journey © 2013 | #[a(href="#" class="under-footer__link") Privacy Policy] | Website designed by #[a(href="#" class="under-footer__link") TemplateMonster.com]