.menu {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0px; }
  .menu .menu__item {
    display: inline-block; }
    .menu .menu__item a {
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff;
      font-family: 'Pathway Gothic One', sans-serif;
      font-size: 27px; }
