header.header#header
    .header__left-part
        ul.menu
            li.menu__item 
                a(href="../Home/index.html").menu__link Home
            li.menu__item.drop-down__switch 
                a(href="#").menu__link About
                ul.drop-down
                    li.dpop-down__item 
                        a(href="#").drop-down__link Agency
                    li.dpop-down__item 
                        a(href="#").drop-down__link News
                    li.dpop-down__item 
                        a(href="#").drop-down__link Team                                                        
            li.menu__item 
                a(href="../Gallery/index.html").menu__link Gallery
    .header__center-part
        a(href="#")
            img(src="img/logo_journey.png", alt="logo")
    .header__right-part
        ul.menu
            li.menu__item 
                a(href="#").menu__link Tours
            li.menu__item 
                a(href="#").menu__link Blog
            li.menu__item 
                a(href="#").menu__link Contacts